#apppagesLogin .view {
    min-height: 100vh;
/* background-image: url("https://images.pexels.com/photos/7054399/pexels-photo-7054399.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); */
    /* background-image: url("https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); */
     /* background-image: url("https://images.pexels.com/photos/911738/pexels-photo-911738.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");  */
    background-image: url("https://images.pexels.com/photos/4252525/pexels-photo-4252525.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-repeat: no-repeat;   
    background-size:cover;
    background-position: center center;
  }
  .logo{
    width: 100%;
    text-align:center  ;
    /* min-height: 10%  */
  }
  .card{
      background-color: #fff;      
      border: 1px solid #d7d6d6;
  }
.parrafo{
    font-size: 9px;
    font-style: normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.parrafo1{
    font-size: 9px;
    font-style: normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #052e70;
}
.RZ{
    font-size: 12px;
    font-style: normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: #052e70;
}
.parrafo2{
    font-size: 8px;
    font-style: normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#052e70;

}.parrafo3{
  font:  small-caps 57% serif;       
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 75%;
  }
.parrafo4{
    font-size:7px;
    font-style:normal;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}


.piePagina {   
    font-size: 6px;
    font-style: normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 60px;

}
.parrafoTabla{
    font-size: 9px;
    font-style: normal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.textabla{    
       font: bold 95% serif;       
       font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.textablaDatos{    
  font: 80% serif;       
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.textabla1{    
  font: bold 84% serif;       
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.textabla2{    
  font: bold 50% serif;       
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.textabla3{    
  font:  73% serif;       
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.textabla4{    
  font: bold 75% serif;       
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.textablaCantidad{
    /* font-size: 5px;
    font-style: normal;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;   
      */
      /* font-family: "Segoe UI"; */
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.text{
    font-size:10px;
    font-style: normal;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}
.datosTabla{
  font-size:12px;
  font-style: normal;
  font-family:'Arial'; 
}
.datosTabla1{
  font: bold 50% serif;       
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.input-box { 
    position: relative; 
  }
  
  input { 
    display: block; 
    border: 1px solid #d7d6d6; 
    background: #fff; 
    padding: 10px 10px 10px 20px; 
    width: 195px; 
  }
  
  .unit { 
    position: absolute; 
    display: block; 
    left: 5px; 
    top: 10px; 
    z-index: 9; 
  }
  .input-box1 { 
    position: relative; 
  }
  
  input { 
    display: block; 
    border: 1px solid #d7d6d6; 
    background: #fff; 
    padding: 10px 10px 10px 20px; 
    width: 195px; 
  }
  
  .unit1 { 
    position: absolute; 
    display: block; 
    left: 120px; 
    top: 10px; 
    z-index: 9; 
  }
  .noCotizacion{
    font: bold 80% serif;       
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .container {
    flex-direction: column;
  }
  .CardTexto{
    font:  bold 140% serif;       
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .textabla10{    
      font:  110% serif;       
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    }
    .textabla10Center{    
      font:  110% serif; 
      text-align:center   ; 
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    }
    .border{
       border: 1px solid white;
    }
    
    .fuente{
      text-align: center;
    }
    
    .titleReport{
      display:flex;
      flex-direction: row;
      justify-content: space-between;
    }
    .parrafoADS{
      font: bold 80% serif;       
      font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
    .textoInput{
      color: rgb(0 0 0 / 71%);
      background-color: #9bd3f445;
      cursor: not-allowed;
      opacity: 1;
    }
    .textareaInput{
      color: rgb(0 0 0 / 71%);
      background-color: #9bd3f445;
      cursor: not-allowed;
      opacity: 1;
    }
    .buttonIndice {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
  