#apppagesLoginAdmin .view {
    min-height: 100vh;
/* background-image: url("https://images.pexels.com/photos/7054399/pexels-photo-7054399.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"); */
    /* background-image: url("https://images.pexels.com/photos/1103970/pexels-photo-1103970.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); */
     /* background-image: url("https://images.pexels.com/photos/911738/pexels-photo-911738.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");  */
    /* background-image: url("https://images.pexels.com/photos/4252525/pexels-photo-4252525.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"); */
   background-image: url("https://images.pexels.com/photos/1420709/pexels-photo-1420709.jpeg");
    background-repeat: no-repeat;   
    background-size:cover;
    background-position: center center;
  }
  .logo{
    width: 100%;
    text-align:center  ;
    /* min-height: 10%  */
  }
  .ant-btnText  {
    display: inline-block;
    color: white;
  }